.header {
  width: 100%;
  border-bottom: 1px solid #d7d7d7;
}

.header h2 {
  margin: unset;
  width: fit-content;
  padding: 20px 40px;
  border-right: 1px solid #d7d7d7;
  color: blueviolet;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 218px auto;
}
